$company-primary: #0091B8;
$company-complementary-1: #b83700;
$company-complementary-2: #b89300;
$company-complementary-3: #6e00b8;

$body-bg: #fff;
$bright-color: $company-primary;
$complementary-color: $company-complementary-1;
$dark-color: #272833;
$light-color: #E7E7ED;
$solid-color: #47647A;

$portlet-decorate-bg: #FFF;
$portlet-decorate-border: 1px solid $light-color;
