.portlet {

  .portlet-header {

    .portlet-title-text {
      color: #6B6C7E;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 2.2;
      margin-bottom: 0;
      text-transform: uppercase
    }

  }

}
