#topAlert {
  background: $vgrintra-mineshaft;
  color: $vgrintra-white;
  margin: 0;
  padding: 0.7em 0;

  .portlet {
    background: $vgrintra-mineshaft;
  }

  .portlet-boundary {
    margin: 0;
  }

  background-image: url(../images/theme/alert/alert-global.png);
  min-height: 68px;
  padding-left: 90px;
  background-position: 24px center;
  background-repeat: no-repeat;

  h1,
  h2,
  h3,
  h4,
  p,
  a,
  a:visited,
  a:hover {
    color: $vgrintra-white;
  }

}
